[Desktop Entry]
Type=Application
Version=1.0
Name=Manjaro-Architect
GenericName=CLI Installer
Keywords=architect;system;installer
TryExec=manjaro-architect
Exec=sudo /usr/bin/manjaro-architect
Comment=Manjaro-Architect — CLI System Installer
Icon=manjaro-architect
Terminal=false
StartupNotify=true
Categories=System;
